default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: kishore
  password:
  host: localhost
  port: 5432

development:
 <<: *default
 database: boilerplate

test:
 <<: *default
 database:

production:
 <<: *default
 database:
